$sky-color: #3498dbc4;
$graphite-grey: #333;
$graphite-grey-low-opacity: #333333e5;
$tech-green: #32cd32;
$steel-grey: #555;
$slate-grey: #708090;
$slate-grey-low-opacity: #70809094;
$slate-grey-light: #70809018;
$orange-accent: #ffa500;
